body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.menu-btn {
    display: none;
}

.menu-icon {
    display: block;
    width: 30px;
    height: 25px;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1100;
}

.menu-icon div {
    background-color: #333;
    height: 4px;
    margin: 5px 0;
    transition: 0.4s;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 60px; /* Para dar espaço ao botão de fechar */
}

nav ul li {
    text-align: center;
    padding: 15px 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: block;
}

.close-btn {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.menu-btn:checked ~ nav {
    transform: translateX(0);
}

.menu-btn:checked ~ nav .close-btn {
    display: block;
}

.menu-btn:checked ~ .menu-icon div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn:checked ~ .menu-icon div:nth-child(2) {
    opacity: 0;
}

.menu-btn:checked ~ .menu-icon div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}
