:root {
    --black: #000000;
    --white: #ffffff;
    --light-grayish-orange: #E3D4C2;
    --grayish-orange: #D3BB9F;
    --slightly-desaturated-orange--light: #C8AA86;
    --slightly-desaturated-orange--dark: #B89163;
    --dark-moderate-orange--yellow-tone: #9F7748;
    --dark-moderate-orange-black-tone: #7D5E39;
    --very-dark-orange--brown-tone: #572F00;

}

@font-face {
    font-family: 'antic didone';
    src: url(Fonte/AnticDidone-Regular.ttf);

    font-family: "inter";
    src: url(fonte/Inter.ttc);

}


body {

background-color: #D3BB9F;

}


header {
    width: 100%;
    height: 7%;
    margin-left: -0.9vh;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 0;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 50;
    overflow: hidden;
    background-image: linear-gradient(to top, #C8AA86, #E3D4C2, #C8AA86);
}

header img{
    width: 180px;
    height: 60px;
    margin-right: 170vh;
}

.conteudo {

    margin-left: -10vh;
    margin-top: 10vh;
    background-color: #D3BB9F;
    }
    
    .conteudo p{
    
    font-size: 6vh;
    display: flex;
    justify-content: center;
    
    }

.dados {

width: 104vh;
height: 50vh;
border-style: solid;
border-radius: 1vh;
font-family: 'antic';
display: flex;
flex-direction: column;
margin-left: 52vh;
padding: 5vh;
background-color: #c99d6c;

}

.dados input {

font-family: 'inter';
font-size: 2.7vh;
border-color: #000000;
outline: none;

}

label{

font-size: 3vh;

}

.nome{

margin-left: 2vh;

}

#nome {

border-radius: 1vh;
width: 30vh;
margin-top: -4.2vh;
padding-left: 1vh;

}

.sobrenome{

margin-top: -4.2vh;
margin-left: 45vh;
margin-bottom: 4vh;

}

#sobrenome {

border-radius: 1vh;    
width: 40vh;
padding-left: 1vh;

}

.cpf {

margin-left: 4vh;

}

#cpf {

border-radius: 1vh;
width: 30vh;
padding-left: 1vh;
}

.clinica {

margin-top: -4vh;
margin-left: 50vh;
margin-bottom: 4vh;
}

#clinica {

border-radius: 1vh;
width: 30vh;
padding-left: 1vh;
}

.cargo {

margin-left: 2vh;

}

#cargo {

width: 30vh;
border-radius: 1vh;
padding-left: 1vh;
}

.contato {

    margin-left: 45vh;
    margin-top: -4.2vh;
    margin-bottom: 4vh;
    
    }
    
    #contato {
    
    width: 20vh;
    border-radius: 1vh;
    padding-left: 1vh;
    }
        

.cep {

margin-left: 4vh;
margin-bottom: 10vh;

}

#cep {

width: 60vh;
border-radius: 1vh;
padding-left: 1vh;

}

button {

width: 17vh;
height: 5vh;
font-size: 3vh;
font-family: 'antic';
border-radius: 1vh;
background-color: white;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
margin-left: 75vh;

}

