:root {
    --black:#000000;
    --white:#ffffff;
    --light-grayish-orange:#E3D4C2;
    --grayish-orange:#D3BB9F;
    --slightly-desaturated-orange--light:#C8AA86;
    --slightly-desaturated-orange--dark:#B89163;
    --dark-moderate-orange--yellow-tone:#9F7748;
    --dark-moderate-orange-black-tone:#7D5E39;
    --very-dark-orange--brown-tone:#572F00;   
    /* use "var()" nos lugares de cores e automaticamente vai puxar para escolher as cores de cima */
}

@font-face {
    font-family: 'antic didone';
    src: url(Fonte/AnticDidone-Regular.ttf);
}

/* -----Cabeçalho------- */
body {

overflow-x: hidden;
background-color: #E3D4C2;
}



.inicio {

    width: 500vh;
    height: 13vh;
    margin-top: -1vh;
    margin-left: -10vh;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    background-color: #d3bb9fc9;
 
}
/* -------Parte lateral esquerda------- */

/* .barra {

    width: 40vh;
    height: 100vh;

    margin-top: 0.5mm;
    margin-left: -2vh;
    border-style: solid;
    border-width: 0.1mm;
    border-color: rgba(0, 0, 0, 0.568);
    background-color: #C8AA86;
    
    }

  .leftbar {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  margin-top: -1vh;
 

  }

  ul li a{

    padding: 1.5vh;
    padding-left: 5vh;
    padding-right: 5vh;
    margin-top: 4vh;
    font-size: 3vh;
    font-family: 'antic didone';
    text-decoration: none;
    
    
    color: var(--very-dark-orange--brown-tone);
    display: block;
    
  }

  ul li a:hover {

    padding: 1.5vh;
    padding-left: 5vh;
    padding-right: 5vh;
    margin-top: 4vh;
    font-size: 3.2vh;
    font-family: 'antic didone';
    text-decoration: none;
    
    
    background-color: var(--dark-moderate-orange-black-tone);
    color: black;
    display: block;
    border-radius: 1vh;



  }


  img {

  width: 6vh;
  height: 6vh;

  margin-top: -2vh;
  margin-bottom: -2vh;
  margin-left: -2vh;
  margin-right: 2vh;

  } */

/* infromação dentro dos pacientes */

.conteudo {

max-width: 800px;
margin: 0 auto;

}

p {

margin: 0.5vh;
font-size: 2.7vh;
font-family: 'antic didone';
color: #572F00;


}

.info {

  padding-top: 8vh;
  padding-left: 40vh;

}

  .paciente {

   width: 85vh;
   height: 35vh;

   background: rgb(200,170,134);
   background: linear-gradient(0deg, rgba(200,170,134,1) 0%, rgba(227,212,194,0.9472163865546218) 50%, rgba(200,170,134,1) 100%);
   border-radius: 5vh;
   margin-top: 8vh;

  }
  
  .inicio img{

 width: 20vh;
 height: 9vh;
 padding-left: 15vh;
 padding-top: 2vh;

  }







